<!--  Barra Superior-->
<nav role="navigation">
    <div class="nav-wrapper">

        <a id="logo-container" href="#!" class="brand-logo left" style="padding-right:20px"><i
                class="small material-icons left" style="margin-left:30px;">shopping_cart</i>PromoGag</a>

        <!-- Itens localizados na direita da barra superior -->
        <ul class="right">
            <div ng-controller="LoginController as loginVm">
                <!--<li><a href="#/addPromocao" class="waves-effect waves-light borda-9gag-add"><i
                        class="material-icons left">add</i>Enviar</a></li>-->
                <!-- div ng-show="!loginVm.usuariologado"> -->
                <li><a ng-show="!loginVm.usuariologado" href="#modal1" class="waves-effect waves-light modal-trigger"><i
                        class="material-icons left" style="font-size:2rem">perm_identity</i>Entrar</a>
                    <a ng-show="loginVm.usuariologado" ng-click="loginVm.logout()"
                       class="waves-effect waves-light modal-trigger"><i class="material-icons left"
                                                                         style="font-size:2rem">perm_identity</i>Sair</a>
                    <!-- Modal Structure ( Janela do Login)-->
                    <div id="modal1" class="modal">
                        <div class="modal-content" style="color:black">
                            <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
                            <h4 style="font-color:black">Login</h4>
                            <p>Conecte-se através da rede social:</p>
                            <div class="container-login" id="container3">
                                <div class="facebook-login-button" ng-click="loginVm.login()">
                                    <a>
                                        <img src="assets/img/fblogin.png" class="login-button" width="180px">
                                    </a>
                                </div>
                                <!--<div class="google-login-button">
                                    <a>
                                        <img src="assets/img/glogin.png" class="login-button" width="180px">
                                    </a>
                                </div> -->
                            </div>


                        </div>

                    </div>
                </li>
                <!-- </div> -->

            </div>
        </ul>


    </div>
</nav>
<!--img data-ng-src="{{detailVm.promocao.imagePath}}" class="responsive-img"-->
<!--Conteúdo da página-->
<div class="container">
    <!-- Div coluna de conteúdos -->
    <div class="section">
        <div class="grid-example col s12">
            <h3>
                <p>{{detailVm.promocao.titulo}}</p>

            </h3>
        </div>
        <div class="infoProfileDetail">
            <!-- Pegar do facebook -->
            <img ng-src="{{detailVm.promocao.profilePicture}}" alt="" class="circle">
            <span style="padding-left: 5px"> {{detailVm.promocao.nameUser}}</span>
        </div>
        <p>Postado no dia {{detailVm.promocao.pubDate | date:'mediumDate'}}.</p>
        <div class="row">
            <div class="section">


                <div class="col s12 m4 l8">
                    <span class="flow-text">{{detailVm.promocao.descricao}}</span>
                    </span>
                </div>

                <div class="col s12 m4 l2">
                    <div class="row">
                        <div class="right-align">

                            <div class="card">
                                <div class="card-image">
                                    <img data-ng-src="{{detailVm.promocao.imagePath}}" class="responsive-img">
                                    <span class="thread-price">{{detailVm.promocao.preco | currency}}</span>
                                    <span class="card-title"></span>
                                </div>
                                <div style="text-align: center">
                                    <a href="{{detailVm.promocao.link}}" target="_blank" style="font-size: 1.75em">Pegar promoção</a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="section">
            <div class="row">
                <div class="fb-comments" dyn-fb-comment-box
                     page-href="http://localhost:63342/desenvolvimento/client/src/index.html#/promocaoDetail/{{detailVm.promocao.id}}"
                     data-numposts="5" data-colorscheme="light" data-width="100%"></div>

            </div>
        </div>
    </div>
</div>
<!--<script src="//connect.facebook.net/en_US/sdk.js"></script> -->
