<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta name="google-signin-client_id" content="385182127018-f0fgmhud0c8qp05mqu1t2pp4gp83a6h4.apps.googleusercontent.com">

    <title>PromoGag - As melhores ofertas nas alturas!</title>
    
    <!-- jquery antes do angular, corrigiu o bug do ng-model do select -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- CSS  -->
    <link href="assets/css/material-icons/material-icons.css" rel="stylesheet">
    <!-- <link href="styles/materialize/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="styles/meuEstilo.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->

    <!-- Materialize-hacked significa alguns bugs fixados no próprio código deles(materialize.css) + o meuEstilo.css -->
    <link href="assets/css/materialize-hacked.css" rel="stylesheet" media="screen,projection" />
    
    <!-- Sweet Alert CSS -->
    <link rel="stylesheet" type="text/css" href="../../bower_components/sweetalert/dist/sweetalert.css">

    <!-- Back to top CSS-->
    <link rel="stylesheet" href="assets/css/back-to-top/css/style.css">
    
     <!-- Forçando para ler sicronicamente o sdk do Facebook! -->
    <script src="//connect.facebook.net/pt_BR/sdk.js"></script>
    <script src="assets/js/sdk-redes-sociais/facebookSDK.js"></script>

     <!-- ANGULAR -->
    
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/angular-locale-pt-br/angular-locale_pt-br.js"></script>
    <script src="../../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="../../bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-price-format/dist/angular-price-format.min.js"></script>
    <script src="assets/js/materialize-modified/materialize-modified.js"></script>
    <script src="../../bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/controllers/MainController.js"></script>
    <script src="app/controllers/FormController.js"></script>
    <script src="app/controllers/LoginController.js"></script>
    <script src="app/controllers/PromocaoDetailController.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/directives/directiveFacebookAPIComment.js"></script>

 
</head>

<body>

    <!-- Scripts que serão utilizados para integração com o Facebook/Google (LOGIN) -->
    <!-- FACEBOOK SDK -->
    <div id="fb-root"></div>

    <!-- GOOGLE SDK -->
    <script src="assets/js/sdk-redes-sociais/googleSDK.js"></script>
    
    <main>
        <div ng-view>
        </div>
    </main>
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">PromoGag</h5>
                    <p class="grey-text text-lighten-4">As melhores ofertas das melhores lojas on-line do Brasil e do mundo ao seu alcance.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Parceiros</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Parceiro 1</a></li>
                        <li><a class="white-text" href="#!">Parceiro 2</a></li>
                        <li><a class="white-text" href="#!">Parceiro 3</a></li>
                        <li><a class="white-text" href="#!">Parceiro 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Ajuda</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Quem somos</a></li>
                        <li><a class="white-text" href="#!">Fórum</a></li>
                        <li><a class="white-text" href="#!">FAQ</a></li>
                        <li><a class="white-text" href="#!">Mapa do site</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Desenvolvido por <a class="orange-text text-lighten-3" href="www.hltv.org">CFV Company</a>
            </div>
        </div>
        
    </footer>


    <!-- Scripts -->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    
    <!-- Script utilizado para ocultar o sideNav do Mobile -->
    <script>
        hideSideNav = function(){
        $('.button-collapse').sideNav('hide');
    };
    </script>

    </body>

</html>